@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
     background-color: #212731;
}

.navd{
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #E1E4E6;
}

.p{
    font-size: 14px;
    font-family: inter;
    color: #D1D6DA;
    font-weight: 400;
}
.lay{
    background-color: #FBFCFD;
}

.h{
    font-size: 48px;
    font-family: inter;
    font-weight: 400;
    color: #2C384A;
    width: 1006px;
    height: 60px;
    top: 102px;
    left: 284px;
}

.divp{
    color: #4B5665;
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    width: 184px;
    height: 20px;
    top: 189px;
    left:584px ;
    line-height: 20px;
}

.headt{
    color: #4B5665;
    font-family: inter;
    font-size: 14px;
    font-weight: 400;
    width: 73px;
    height:20px ;
    top: 243px;
    left: 300px;
}

.li{
    width: 124px;
    height: 20px;
    top: 2628px;
    left: 636px;
    font-family: inter;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #B6BDC4;
}

.footer{
    width: 102px ;
    height: 24px;
    top:2486px;
   left:295px;
   font-family: inter;
   font-size: 16px;
   font-family: 400;
   line-height: 24px;
   color: #ffffff;
}

.pu{
    color: #D1D6DA;
    font-family: inter;
   font-size: 13px;
   font-family: 400;
   line-height: 20px;
   width: 90px;
   height: 20px;
   top: 2551px;
   left: 1023px;
}

.card{
    font-family: inter;
    line-height: 24px;
    width: 490px;
    height: 72px;
    top: 368px;
    left: 525px;
    color: #4B5665;
}

.choice{
    border-radius: 0px 8px 8px 0px;
    width: 136px;
    height: 34px;
    color: #FBFCFD;
    font-family: inter;
    font-size: 16px;
}

.head{
    font-family: inter;
    font-size: 48px;
}

.cardt{
    
        font-family: inter;
        line-height: 24px;
        width: 483px;
        height: 72px;
        top: 478px;
        left: 543px;
        font-size: 16px;
}
.border{
    border-radius: 0px 12px 12px 0px;
}

.tools{
   color: #727D87;
    font-family: inter;
    font-size: 13px;
    font-weight: 400;
}

.dh{
    color: #2C384A ;
    font-size: 32px;
    font-family: inter;
    font-weight: 400;
}